# Assignment Day 6

1 :
Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address.

In [26]:
email=input("Enter your mail id: ")

doamin=email.split("@")[1]
cname=doamin.split(".")[0]

print("\nCompany name for the above maid id is",cname)

Enter your mail id: vishnuprasad.k.s@cognizant.co.com

Company name for the above maid id is cognizant

2 :
Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.

In [21]:
x=input("Enter a list seperated by commas:\n")
y=x.split(',')
y.sort()
print(y)

Enter a list seperated by commas:
without,hello,bag,world
['bag', 'hello', 'without', 'world']

3:
Create your own Jupyter Notebook for Sets.



Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [22]:
x = set()

In [23]:
# We add to sets with the add() method
x.add(1)

In [24]:
#Show
x

{1}

In [25]:
# Add a different element
x.add(2)

In [26]:
#Show
x

{1, 2}

In [27]:
# Try to add the same element
x.add(1)

In [28]:
#Show
x

{1, 2}

In [29]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [30]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

In [34]:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [35]:
#Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [36]:
#Join Two Sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [37]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [39]:
#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number.

In [3]:
ele=[]
n = int(input("Enter number of elements : "))
print("Enter the elements") 

# iterating till the range 
for i in range(0,n): 
    x = int(input()) 
    ele.append(x)
    

print("The list Entered is: ",ele)   
ele.sort()
print("The list after sorted is: ",ele) 
a=min(ele)
b=max(ele)
 
#print(a,b)

for i in range(a,b+1):
    if i not in ele:
        print("The element missing in the list is : ",i)

Enter number of elements : 5
Enter the elements
78
79
76
75
74
The list Entered is:  [78, 79, 76, 75, 74]
The list after sorted is:  [74, 75, 76, 78, 79]
The element missing in the list is :  77

Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.

In [7]:
ele=[]
n = int(input("Enter number of elements : "))
print("Enter the elements") 

# iterating till the range 
for i in range(n): 
    x = int(input()) 
    ele.append(x)

print("The list Entered is: ",ele)
    
x=set(ele)

print("List after removing dupicates is : ",list(x))

Enter number of elements : 5
Enter the elements
3
3
4
5
6
The list Entered is:  [3, 3, 4, 5, 6]
List after removing dupicates is :  [3, 4, 5, 6]